---
import { Debug } from "astro/components";
import Card from "../components/Card.astro";
import Largebtn from "../components/Largebtn.astro";
import Shelf from "../components/Shelf.astro";
import Smallbtn from "../components/Smallbtn.astro";
import Topnav from "../components/Topnav.astro";
import Footer from "../components/Footer.astro";
import "../styles/styles.css";
import Buttonshelf from "../components/Buttonshelf.astro";
import Fpshelf from "../components/Fpshelf.astro";
import Fpcardshelf from "../components/Fpcardshelf.astro";
import Sponsorshelf1 from "../components/Sponsorshelf1.astro";

const url = "https://aruswkvjfqmwbmdbzrgy.supabase.co/rest/v1/sakurafestival";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFydXN3a3ZqZnFtd2JtZGJ6cmd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3Nzc0NTgsImV4cCI6MTk5NDM1MzQ1OH0.8v-p9C_alBTmibzL_qtGCNqtAkcNRGL5TGvI2UFHXH0",
  },
};

const respons = await fetch(url, options);
const data = await respons.json();

const data1 = data.filter((event) => event.id === 1);
const data2 = data.filter((event) => event.id === 2);
const data3 = data.filter((event) => event.id === 3);
const data4 = data.filter((event) => event.id === 4);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.typekit.net/qqk5mpc.css" />
    <meta name="generator" content={Astro.generator} />
    <title>forside</title>
  </head>
  <body>
    <main>
      <Topnav />

      <div class="parent">
        <img class="image1" src="../images/landingpage.png" alt="baggrund" />
        <img class="image3" src="../images/landingpagetext.svg" alt="baggrund" />
        <img class="image2" src="../images/landingpagefg.png" alt="baggrund" />
      </div>

      <section>
        <br /><br /><br />
        <Fpshelf>
          <Largebtn title="Program" link="/program" />
          <Largebtn title="My Program" link="/favorites" />
          <Largebtn title="About" link="/about" />
          <Largebtn title="FAQ" link="/faq" />
        </Fpshelf>
        <img class="line" src="../images/line1.png" alt="line" />
        <h2 class="nyheder">News</h2>
        <Fpcardshelf data1={data1} data2={data2} data3={data3} data4={data4} />
        <img class="line2" src="../images/line1.png" alt="line" />
        <h2 class="nyheder">Sponsors</h2>
        <Sponsorshelf1 />
      </section>
    </main>
    <Footer />
  </body>

  <style>
    * {
      box-sizing: border-box;
    }

    body {
      background-color: var(--backgroundcolor);
    }
    .fpknapper {
      gap: 100px;
    }
    /* img {
      border: 0;
      max-width: 100%;
      vertical-align: middle;
      display: inline-block;
    } */

    .line {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .line2 {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .nyheder {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }

    .parent {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      position: relative;
    }
    .image1 {
      grid-column: 1/1;
      grid-row: 1/1;
      z-index: 1;
      width: 100%;
      object-fit: cover;
    }
    .image2 {
      grid-column: 1/1;
      grid-row: 1/1;
      z-index: 3;
      width: 100%;
      object-fit: cover;
    }
    @media (min-width: 945px) {
      .image3 {
        position: fixed;
        margin-top: 4rem;
        z-index: 2;
        height: 450px;
        grid-column: 1/1;
        grid-row: 1/1;
        padding-top: 4rem;
      }
    }
    @media (max-width: 944px) {
      .image3 {
        z-index: 2;
        grid-column: 1/1;
        grid-row: 1/1;
        padding-top: 20px;
      }
    }
    section {
      position: relative;
      z-index: 3;
      background-color: var(--backgroundcolor);
    }
    main {
      position: relative;
      z-index: 3;
    }
  </style>
</html>
