---
import Buttonshelf from "./Buttonshelf.astro";
import Smallbtn from "./Smallbtn.astro";
const { title, btnclass } = Astro.props;
---

<section>
  <header>
    <h2>{title}</h2>
    <Buttonshelf cla={btnclass}>
      <button id={btnclass} class="smallbutton sortmainstage">Main stage</button>
      <button id={btnclass} class="smallbutton sortsecondstage">Second stage</button>
      <button id={btnclass} class="smallbutton sortthelawn">On the lawn</button>
    </Buttonshelf>
  </header>
</section>
<ul class="grid-container">
  <slot />
</ul>

<style>
  section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    text-decoration: none;
    margin-left: 1rem;
  }

  .grid-container {
    margin-top: 1rem;
    display: flex;
    overflow: hidden;
    gap: 1rem;
    scroll-snap-type: x mandatory;
    overflow: scroll;
  }

  ul {
    margin-bottom: 1rem;
  }

  @media (min-width: 700px) {
    .grid-container {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(311px, 1fr));
      gap: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  .smallbutton {
    background-color: var(--backgroundcolor);
    height: 35px;
    width: auto;
    padding: 0px 15px;
    border-radius: 0%;
    border: var(--redborder);
    font-family: roc-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
  }

  .smallbutton:hover {
    background-color: var(--primary);
    color: var(--backgroundcolor);
    transition: 250ms ease-in-out;
  }
  a {
    cursor: pointer;
  }

  .smallbutton.active {
    background-color: var(--primary);
    color: var(--backgroundcolor);
  }

  .hide {
    display: none;
  }
</style>

<script src="../scripts/sort.js"></script>
